<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- <link rel="stylesheet" href="styles.css" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

    <h2>Google Scholar Analysis Toolkit</h2>

    <script>
        function validate_form(form) {
            var url;
            if (form.name == "form1") {
                url = document.forms[form.name]["url1"].value;
            }
            else {
                url = document.forms[form.name]["url2"].value;
            }
            if (url.substring(0, 64).localeCompare("https://scholar.google.com/citations?view_op=view_org&hl=en&org=")) {
                alert("Enter a correct Google Scholar URL!");
                return false;
            }
        }
    </script>

    <form name="form1" action="#" method="POST" onsubmit="return validate_form(this)">

        <p>Enter the URL of the Institute to get the total citations count (for Webometrics Rankings)</p>
        <input type="text" name="url1" size="85"
            placeholder="https://scholar.google.com/citations?view_op=view_org&hl=en&org=xxxxxxxxxxxxxxxxxxxx" required>
        <input type="submit" name="submit_url" value="View">

    </form>
    <form name="form2" action="#" method="POST">

        <P>Following will generate the citations count of top Institutes of Sri Lanka (for Webometrics Rankings)</P>
        <input type="submit" name="view_all" value="View All">

    </form>
    <form name="form3" action="#" method="POST" onsubmit="return validate_form(this)">

        <p>Enter the URL of the Institute to download the CSV file containing the details of the Scholars</p>
        <input type="text" name="url2" size="85"
            placeholder="https://scholar.google.com/citations?view_op=view_org&hl=en&org=xxxxxxxxxxxxxxxxxxxx" required>
        <input type="submit" name="download_csv" value="Download CSV">

    </form>
</body>

</html>